actinia-openapi-python-client @ git+https://github.com/openplainsinc/actinia_openapi_python_client.git@9c8c780ac70144e8d6daba2fe0b4b916a7546b90
actinia-python-client==0.4.1
alabaster==1.0.0
amqp==5.2.0
annotated-types==0.7.0
anyio==4.4.0
arrow==1.3.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
babel==2.16.0
backoff==2.2.1
beautifulsoup4==4.12.3
billiard==4.2.0
black==24.8.0
boltons==24.0.0
cachetools==5.5.0
celery==5.4.0
certifi==2024.8.30
cffi==1.17.0
cfgv==3.4.0
channels==4.1.0
channels-redis==4.2.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
commonmark==0.9.1
constantly==23.10.4
cryptography==43.0.0
css-html-js-minify==2.5.5
daphne==4.1.2
distlib==0.3.8
Django==5.1
django-cors-headers==4.4.0
django-debug-toolbar==4.4.6
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.3
django-guardian==2.4.0
django-storages==1.14.4
djangorestframework==3.15.2
djangorestframework-gis==1.1
docutils==0.21.2
drf-spectacular==0.27.2
environ==1.0
exceptiongroup==1.2.2
filelock==3.15.4
fqdn==1.5.1
google-api-core==2.19.2
google-auth==2.34.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.5.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
graphql-core==3.2.3
h11==0.14.0
harfile==0.3.0
hiredis==3.0.0
httpcore==1.0.5
httpx==0.27.2
hyperlink==21.0.0
hypothesis==6.111.2
hypothesis-graphql==0.11.1
hypothesis-jsonschema==0.23.1
identify==2.6.0
idna==3.8
imagesize==1.4.1
incremental==24.7.2
inflection==0.5.1
iniconfig==2.0.0
isoduration==20.11.0
Jinja2==3.1.4
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
junit-xml==1.9
kombu==5.4.0
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
msgpack==1.0.8
multidict==6.0.5
mypy-extensions==1.0.0
nodeenv==1.9.1
outcome==1.3.0.post0
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
pip-review==1.3.0
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.8.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==5.28.0
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
pyOpenSSL==24.2.1
pyparsing==3.1.4
pyproject-api==1.7.1
pyrate-limiter==3.7.0
pyrsistent==0.20.0
PySocks==1.7.1
pystac==1.10.1
pytest==8.3.2
pytest-subtests==0.7.0
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.2
redis==5.0.8
referencing==0.35.1
requests==2.32.3
requests-mock==1.12.1
rfc3339-validator==0.1.4
rfc3987==1.3.8
rich==13.8.0
rpds-py==0.20.0
rsa==4.9
schemathesis==3.35.1
selenium==4.24.0
service-identity==24.1.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.6
Sphinx==8.0.2
sphinx-material==0.0.36
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.1
starlette==0.38.2
starlette-testclient==0.4.1
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tomli_w==1.0.0
tox==4.18.0
trio==0.26.2
trio-websocket==0.11.1
Twisted==24.7.0
txaio==23.1.1
typer==0.12.5
types-python-dateutil==2.9.0.20240821
typing_extensions==4.12.2
tzdata==2024.1
Unidecode==1.3.8
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.0.7
vine==5.1.0
virtualenv==20.26.3
wcwidth==0.2.13
webcolors==24.8.0
websocket-client==1.8.0
Werkzeug==3.0.4
wsproto==1.2.0
yarl==1.9.4
zope.interface==7.0.3
